.transparent {
  color: var(--font-color-1);
  border: 1px solid var(--font-color-1);
  padding: var(--button-padding-1);
  border-radius: var(--button-border-radius-1);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  transition: color var(--transition-timing);
}

.transparent:hover {
  color: var(--button-color-hover-1);
}

.transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-bg-hover-1);
  width: 100%;
  height: 100%;
  border-radius: var(--button-border-radius-1);
  z-index: -1;

  /* Hiding(Clipping) 100% from top to bottom */
  clip-path: inset(100% 0 0 0);
  transition: clip-path var(--transition-timing);
}

.transparent:hover::before {
  /* Stop clipping. */
  clip-path: inset(0 0 0 0);
}

/* -------------------------------------------------------------------- */

.fill {
  color: var(--font-color-2);
  border: 1px solid var(--font-color-1);
  padding: var(--button-padding-1);
  border-radius: var(--button-border-radius-1);
  background-color: var(--button-bg-color-1);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  transition: color var(--transition-timing),
    background-color var(--transition-timing);
}

.fill:hover {
  background-color: transparent;
  color: var(--font-color-1);
}

.fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-bg-color-2);
  width: 100%;
  height: 100%;
  border-radius: var(--button-border-radius-1);
  z-index: -1;

  /* Hiding(Clipping) 100% from top to bottom */
  clip-path: inset(100% 0 0 0);
  transition: clip-path var(--transition-timing);
}

.fill:hover::before {
  /* Stop clipping. */
  clip-path: inset(0 0 0 0);
}
