.root {
  width: var(--width);
  /* padding-block: 3rem; */
  padding-inline: 1rem;
  background-color: var(--foreground-rgb-2);
}

.main {
  max-width: var(--max-width);
  min-height: 12rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--links-gap-3);
}

@media only screen and (max-width: 1121px){
  .main{
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}