.searchContainer {
  display: inherit;
}

.secondary_menu_icon {
  cursor: pointer;
}

.searchPage {
  position: fixed;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  z-index: 99;
  background-color: black;
  transition: top var(--transition-timing-1),
    transform var(--transition-timing-1);
}

.searchPage.active {
  top: 0;
}

.searchMain {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.search_closing_button {
  position: absolute;
  right: calc(4vw + 1rem);
}

.formContainer {
  width: var(--width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.form{
    width: var(--width);
}