.root{
    width: 100%;
}

.brandName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandName p{
    font-size: clamp(1.6rem, 3vw, 2.5rem);
    letter-spacing: var(--heading-letter-spacing-primary);
    line-height: 0.85;
    font-weight: 800;
}