.root {
  width: var(--width);
  height: 5.5rem;
  background-color: transparent;
  border-bottom: var(--border-bottom-primary-color);
  transition: background-color var(--transition-timing);
}

.root:hover {
  background-color: var(--navbar-footer-color);
}

.navbar {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.leftNavigationMenu {
}

.logoContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
