.root {
    width: var(--width);
    padding-inline: 1.125rem;
    padding-block: 2.5rem;
}

.main {
    margin: 0 auto;
    max-width: var(--max-width);
}

.productGrid {
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.sliderContainer {
    grid-column: 1;
}

.infoContainer {
    grid-column: 2;
}

.descriptionContainer {
    grid-column: 1 / -1;
    margin-block: 3rem;
}

.sizeContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

.quantityContainer{
    margin-block: 1rem;
}

.cartButtonContainer{
    margin-block: 3rem;
}

.infoHeadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 1024px){
    .productGrid{
        grid-template-columns: 1fr;
    }
    .sliderContainer,
    .infoContainer,
    .descriptionContainer {
        grid-column: 1; 
    }
}