.root {
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
    background-color: var(--foreground-rgb-1);
    opacity: 1;
}

.rootActive {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% !important;
    z-index: 150;
    animation: fadeIn var(--transition-timing-1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slideContainer {
    width: 100%;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-timing-1);
}

.slide1 {
    left: 0;
}

.slide2 {
    left: 100%;
}

.slide3 {
    left: 200%;
}

.slide4 {
    left: 300%;
}

.slide {
    height: inherit;
    border-radius: var(--border-radius-1);
    transition: border-radius var(--transition-timing-1);
}

.slide:hover {
    cursor: zoom-in;
}

.slideActive {
    width: inherit;
    object-fit: contain;
    border-radius: 0;
}

.closeButton {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(1.25vw + 1.25rem);
    right: calc(1.25vw + 1rem);
    border: var(--border-bottom-color-3);
    border-radius: 50%;
    padding: 1.125rem;
    cursor: pointer;
    z-index: 150;
    background-color: var(--foreground-rgb-1);
    transition: transform var(--transition-timing-1);
}

.closeButton:hover {
    transform: rotate(-90deg);
}

.leftButton,
.rightButton {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    border-radius: 50%;
    padding: 1.125rem;
    background-color: var(--foreground-rgb-5);
    cursor: pointer;
}

.disableButton{
    opacity: 0.25;
    cursor: not-allowed !important;
}

.leftButton {
    left: 0;
}

.leftButtonActive {
    left: calc(1.25vw + 1rem);
}

.rightButton {
    right: 0;
}

.rightButtonActive {
    right: calc(1.25vw + 1rem);
}

@media only screen and (max-width: 616px) {
    .root {
        height: 500px;
    }
}

@media only screen and (max-width: 538px) {
    .root {
        height: 450px;
    }
}

@media only screen and (max-width: 493px) {
    .root {
        height: 400px;
    }

    .leftButton,
    .rightButton,
    .closeButton {
        width: 50px;
        height: 50px;
        padding: 1rem;
    }
}

@media only screen and (max-width: 442px) {
    .root {
        height: 350px;
    }
}

@media only screen and (max-width: 390px) {
    .root {
        height: 300px;
    }
    .leftButton,
    .rightButton,
    .closeButton {
        width: 45px;
        height: 45px;
        padding: 0.85rem;
    }
}

@media only screen and (max-width: 341px) {
    .root {
        height: 260px;
    }
}