.root{
    width: var(--width);
    background-color: transparent;
    border-bottom: var(--border-bottom-primary-color);
    transition: background-color var(--transition-timing);
}

.root:hover{
    background-color: var(--navbar-footer-color);
}

.navbar{
    max-width: var(--max-width);
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container:nth-child(2) > ul{
    list-style: none;
    display: flex;
    height: 100%;
    gap: var(--links-gap-primary);
    font-size: var(--links-font-size-primary);
    letter-spacing: var(--links-letter-spacing-primary);
    font-weight: var(--heading-font-weight);
    color: var(--links-color);
}

.container:nth-child(2) > ul > li{
    padding: 2rem 0.5rem;
    cursor: pointer;
    font-weight: 500;
}

.container:nth-child(2) > ul > li::after{
    content: '';
    display: block;
    width: 0;
    height: var(--links-border-bottom-height);
    background-color: var(--links-color);
    transition: width var(--transition-timing);
}

.container:nth-child(2) > ul > li:hover::after{
    width: 100%;
}

.dropDownLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.icon{
    transform: rotate(0);
    transition: transform var(--transition-timing);
}
.rotate{
    transform: rotate(-180deg);
}

.megaDropDownMenu{
    list-style: none;
    border: 0px 1px 1px 0px solid black;
    z-index: 99;
    position: fixed;
    width: var(--width);
    height: 0;
    left: 0;
    top: 5.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-footer-color);
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    border-radius: 0px 0px 36px 36px;
    padding: 0 3.5rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    transition: height var(--transition-timing), opacity var(--transition-timing), pointer-events var(--transition-timing);
}

.show{
    height: 60vh;
    opacity: 1;
    pointer-events: all;
}

.megaDropDownMenu::-webkit-scrollbar{
    display: none;
}

.megaDropDownMenu li {
    color: var(--links-color);
    padding: 1rem 0;
    width: fit-content;
    letter-spacing: var(--links-letter-spacing-primary);
    font-size: 2rem;
    cursor: pointer;
}

.megaDropDownMenu li::after{
    content: '';
    display: block;
    width: 0;
    height: var(--links-border-bottom-height);
    background-color: var(--links-color);
    transition: width var(--transition-timing);
}

.megaDropDownMenu li:hover::after{
    width: 100%;
}

.container:nth-child(3){
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container:nth-child(3) img{
    cursor: pointer;
}

.searchPage{
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: black;
    transition: top var(--transition-timing), transform var(--transition-timing);
}

.searchPage.active {
    top: 0; 
}

.searchMain{
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.searchCloseButton{
    position: absolute;
    right: calc(4vw + 1rem);
}

.formContainer{
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.error{
    color: var(--font-color-1);
    word-break: break-word;
    text-align: center;
    height: 1rem;
}

.formContainer form{
    display: flex;
    justify-content: center;
    border-bottom: var(--border-bottom-secondary-color);
    width: var(--width);
}

.formContainer form input{
    width: var(--width);
    outline: 0;
    background-color: transparent;
    border: none;
    color: var(--font-color-1);
    font-size: var(--font-size-1);
    letter-spacing: var(--font-letter-spacing-1);
}

.formContainer form input::-webkit-search-cancel-button {
    display: none;
  }

.formContainer form input::placeholder{
    color: var(--font-color-1);
}

.formContainer form button{
    background-color: transparent;
    border: none;
}

.formContainer form button:focus {
    outline:0;
}

.formContainer form button:active {
    outline: none;
    border: none;
}