.select {
    position: relative;
    display: inline-block;
    width: 6.25rem;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 15px;
    outline: 0;
    border: 1px solid #000000;
    border-radius: 25px;
    background: #FCF7E6;
    color: #0a0a0a;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #0a0a0a;
    background: #FCF7E6;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 7px;
    height: 7px;
    border: solid #7b7b7b;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-color: #000000;
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}